.gameNavigation {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #4F3D9E;
  height: 100%;

  &__item {
    width: 23%;
    display: flex;
    align-items: center;

    &-button {
      height: 70px;
      width: 100%;
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 10px;
      box-shadow: 0 5px 1px #6D5BD2;
      background-color: #7D6BE3;

      &-imageContainer {
        margin-top: 5px;
        margin-bottom: 2px;
        height: 26px;
      }

      p {
        font-size: 12px;
        font-weight: bold;
        color: whitesmoke;
      }
    }
  }
}