.modalWrapper__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
  animation: dimmer 0.1s 1 ease-out;
}

@keyframes dimmer {
  from {
    background-color: rgba(0,0,0,0.0);
  }

  to {
    background-color: rgba(0,0,0,0.6);
  }
}

.modalWrapper__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 420px;
  min-width: 260px;
  border-radius: 16px;
  box-shadow: 0 5px 0 0 #4F3EA0;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  animation: fadeIn 0.1s 1 ease-out;
  overflow: hidden;
  z-index: 100;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -55%);
    }

    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &-header {
    background-color: #4F3EA0;
    font-weight: bold;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: whitesmoke;
  }

  &-content {
    background-color: #6C5ACF;
    width: 100%;
    padding: 20px;
  }
}
