.modalWrapper__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 100;
  animation: dimmer 0.1s 1 ease-out;
}

@keyframes dimmer {
  from {
    background-color: rgba($color: #000000, $alpha: 0);
  }

  to {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.modalWrapper__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 420px;
  min-width: 260px;
  // border-radius: 32px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  z-index: 100;
  animation: fadeIn 0.1s 1 ease-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -55%);
    }

    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &-header {
    background-color: whitesmoke;
    font-weight: bold;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
  }

  &-content {
    background-color: blanchedalmond;
    width: 100%;
    padding: 0 20px 30px 20px;
  }
}
