.roundHistoryListItem {
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.2);
  // height: 60px;
  padding: 10px;
  border-radius: 12px;
  border-bottom: 3px solid #4B3A92;
  position: relative;

  &__iconContainer {
    // background-color: whitesmoke;
    // background-color: rgba(255,255,255,0.2);
    height: 45px;
    width: 45px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #D9DADD;
    box-shadow: 0 4px 1px 0 #acacac;
    text-shadow: 0 2px 1px #ffffff;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 28px;
      color: gray;
    }
  }

  &__pointsValue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 35px;
    width: 35px;
    background-color: #D9DADD;
    box-shadow: 0 4px 1px 0 #8F9099, 0 4px 0 4px #6C5ACF;
    color: gray;
    border-radius: 8px;
    margin-bottom: 2px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-45%);

    &.points {
      background-color: #73BB6D;
      box-shadow: 0 4px 1px 0 #4D993F, 0 4px 0 4px #6C5ACF;
      color: whitesmoke;
      text-shadow: 0 2px 1px #3f7a34;
    }

    &.nopoints {
      background-color: #E45A53;
      box-shadow: 0 4px 1px 0 #B32A43, 0 4px 0 4px #6C5ACF;
      color: whitesmoke;
      text-shadow: 0 2px 1px #811f31;
    }
  }

  &__textContainer {
    flex-grow: 1;
    &-category {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      color: whitesmoke;
      margin-bottom: 2px;
    }

    &-answer {
      // background-color: rgba(255,255,255,0.1);
      background-color: #4F3EA0;
      color: #9D92DC;
      padding: 4px 4px;
      // width: 100%;
      border-radius: 6px;
      font-size: 14px;
    }
  }
}