.homePage {
  height: 100vh;
  position: relative;
  background-color: #6B59CC;

  &__buttons {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-row: 1fr 1fr;
    row-gap: 10px;
  }
}