.gameResultModal {
  &__stars {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;

    i {
      font-size: 38px;
      margin: 0 5px 5px;
      color: #ffdc68;
      text-shadow: 0 3px 1px #d39a00;

      &:nth-of-type(2) {
        font-size: 48px;
      }
    }

    // &-imageContainer {
    //   margin: 5px;
    // }
  }

  &__result {
    margin-bottom: 40px;

    &-total {
      display: flex;
      align-items: center;
      background-color: rgba(255,255,255,0.1);
      border-radius: 10px;
      padding-right: 10px;
      margin-bottom: 8px;

      &-imageContainer {
        height: 40px;
        margin-right: 10px;
      }

      &-title {
        flex-grow: 1;
      }

      &-value {
        font-weight: bold;
      }
    }

    &-details {
      display: flex;
      justify-content: space-between;
  
      &-detail {
        display: flex;
        align-items: center;
        background-color: rgba(255,255,255,0.1);
        border-radius: 10px;

        &-icon {
          background-color: #E45A53;
          height: 36px;
          width: 40px;
          border-radius: 8px;
          box-shadow: 0 4px 0 0 #B32A43;
          text-shadow: 0 2px 1px #811f31;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          padding-bottom: 4px;
          margin-bottom: 2px;
        }

        &-value {
          width: 38px;
          text-align: center;
          font-weight: bold;
        }
      }
    }
  }
}