.gamePage {
  height: 100vh;
  // background-color: burlywood;
  display: flex;
  // align-items: center;
  flex-direction: column;
  position: relative;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    // background-color: cadetblue;
    background-color: #4F3D9E;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    z-index: 10;

    &-points {
      // background-color: chocolate;
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 16px;
      // align-items: center;
      // height: 35px;
      height: 100%;
      // width: 180px;
    }
  }

  &__main {
    // background-color: chartreuse;
    flex-grow: 1;
    // position: relative;
    padding: 50px 10px 100px;
    margin-top: 50px;
    overflow: scroll;
  }

  &__navigation {
    height: 90px;
    // height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}