* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

html,
body,
#root,
.app {
  height: 100%;
}

// .app {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }